<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="w200-0001">

  <!-- Common -->
  <xacro:include filename="$(find clearpath_platform_description)/urdf/common.urdf.xacro"/>

  <!-- Platform -->
  <xacro:include filename="$(find clearpath_platform_description)/urdf/w200/w200.urdf.xacro"/>
  <xacro:w200 wheel="default"/>


  <!-- Attachments -->


  <!-- Links -->

  <xacro:include filename="$(find clearpath_platform_description)/urdf/links/frame.urdf.xacro"/>
  <xacro:frame name="top_tower" parent_link="tower_link">
    <origin xyz="0.0 0.0 0.25" rpy="0.0 0.0 0.0"/>
  </xacro:frame>

  <xacro:include filename="$(find clearpath_platform_description)/urdf/links/box.urdf.xacro"/>
  <xacro:box name="structure" parent_link="default_mount" material_name="clearpath_dark_grey" size="0.5 0.675 0.5">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:box>

  <xacro:include filename="$(find clearpath_platform_description)/urdf/links/box.urdf.xacro"/>
  <xacro:box name="tower" parent_link="structure_link" material_name="clearpath_dark_grey" size="0.15 0.15 0.5">
    <origin xyz="0.0 0.0 0.5" rpy="0.0 0.0 0.0"/>
  </xacro:box>


  <!-- Mounts -->

  <!-- post_0 -->
  <xacro:include filename="$(find clearpath_mounts_description)/urdf/post.urdf.xacro"/>
  <xacro:post name="post_0" parent_link="top_tower_link" model="dual" spacing="0.12" height="0.075">
    <origin xyz="0.0 0.0 0.5" rpy="0.0 0.0 0.0"/>
  </xacro:post>

  <!-- disk_0 -->
  <xacro:include filename="$(find clearpath_mounts_description)/urdf/disk.urdf.xacro"/>
  <xacro:disk name="disk_0" parent_link="post_0_mount">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:disk>


  <!-- Sensors -->

  <!-- lidar3d_0 -->
  <xacro:include filename="$(find clearpath_sensors_description)/urdf/velodyne_lidar.urdf.xacro"/>
  <xacro:velodyne_lidar name="lidar3d_0" parent_link="disk_0_mount" ang_res_h="0.4" ang_res_v="2.0" min_ang_h="-3.141592" max_ang_h="3.141592" min_ang_v="-0.261799" max_ang_v="0.261799" min_range="0.9" max_range="130.0" update_rate="50">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:velodyne_lidar>


  <!-- Manipulators -->


  <!-- Extras -->


</robot>
