<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="w200-0001">

  <!-- Common -->
  <xacro:include filename="$(find clearpath_platform_description)/urdf/common.urdf.xacro"/>

  <!-- Platform -->
  <xacro:include filename="$(find clearpath_platform_description)/urdf/w200/w200.urdf.xacro"/>
  <xacro:w200 wheel="track"/>


  <!-- Attachments -->


  <!-- Links -->


  <!-- Mounts -->


  <!-- Sensors -->

  <!-- lidar3d_0 -->
  <xacro:include filename="$(find clearpath_sensors_description)/urdf/velodyne_lidar.urdf.xacro"/>
  <xacro:velodyne_lidar name="lidar3d_0" parent_link="turret_lidar_mount" ang_res_h="0.4" ang_res_v="2.0" min_ang_h="-3.141592" max_ang_h="3.141592" min_ang_v="-0.261799" max_ang_v="0.261799" min_range="0.9" max_range="130.0" update_rate="50">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:velodyne_lidar>


  <!-- Manipulators -->


  <!-- Extras -->

  <xacro:include filename="/home/ubuntu/Multi-Robot-Nav/debug/reports/utils/canister_2/payload.xacro"/>

</robot>
